{% csrf_token %}

    <table id="table-selec-qst">

        <tr id="aviso">
            <td colspan="4">
            <label>Este site está em sua versão BETA - disponível precipuamente para testes/validação.</label>
            </td>
        </tr>

        <tr>

            <td>
                Concurso:
                <select name="concurso">
                    <option value="">Todos</option>
                    {% for concurso in concursos %}
                        <option value="{{ concurso.id }}">{{ concurso }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Instituição:
                <select name="instituicao">
                    <option value="{{ None }}">Todos</option>
                    {% for instituicao in instituicoes %}
                        <option value="{{ instituicao }}">{{ instituicao }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Ano:
                <select name="ano">
                    <option value="">Todos</option>
                    {% for ano in anos %}
                        <option value="{{ ano }}">{{ ano }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Banca:
                <select name="banca">
                    <option value="">Todos</option>
                    {% for banca in bancas %}
                        <option value="{{ banca.id }}">{{ banca }}</option>
                    {% endfor %}
                </select>
            </td>

        </tr>

        <tr>

            <td>
                Cargo:
                <select name="cargo">
                    <option value="">Todos</option>
                    {% for cargo in cargos %}
                        <option value="{{ cargo }}">{{ cargo }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Prova:
                <select name="prova">
                    <option value="">Todos</option>
                    {% for prova in provas %}
                        <option value="{{ prova.id }}">{{ prova }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
            <label title="Nesta versão BETA estamos utilizando apenas a disciplina Português, mais a frente quando o sistema for considerado estável as outras disciplinas serão liberadas.">
                Disciplina:
                <select name="disciplina">
<!--                    <option value="">Todas</option>-->
                    <option value="portugues">Português</option>
                    {% for disciplina in disciplinas %}
                        <option value="{{ disciplina.id }}">{{ disciplina }}</option>
                    {% endfor %}
                </select>
            </label>
            </td>

            <td>
                Assunto:
                <select name="assunto">
                    <option value="">Todos</option>
                    {% for assunto in assuntos %}
                        <option value="{{ assunto.id }}">{{ assunto }}</option>
                    {% endfor %}
                </select>
            </td>

        </tr>

        <tr>

            <td>
                Área de Atuação:
                <select name="area_de_atuacao">
                    <option value="">Todas</option>
                    {% for area_de_atuacao in areas_de_atuacao %}
                        <option value="{{ area_de_atuacao.id }}">{{ area_de_atuacao }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Nível de Ensino:
                <select name="nivel_de_ensino">
                    <option value="">Todos</option>
                    {% for nivel_de_ensino in niveis_de_ensino %}
                        <option value="{{ nivel_de_ensino }}">{{ nivel_de_ensino }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                Tipo de Questão:
                <select name="tipo_de_questao">
                    <option value="">Todas</option>
                    <option value="multipla_escolha">Múltipla Escolha</option>
                    <option value="verdadeiro_ou_falso">Verdadeiro ou Falso</option>
                </select>
            </td>

            <td>
                Quantidade de Questões:
                <input type="text" name="quantidade_questoes" value="10"></input>
            </td>

        </tr>

        <tr class="botao-TAI">
            <td colspan="4">
                <label title="Testes Adaptativos são testes gerados de acordo com o nível de conhecimento do usuário. Para o fazer você deve possuir cadastro e estar logado.">
                    Teste Adaptativo Informatizado:
                </label>
                <input type="checkbox" name="TAI" title="Testes Adaptativos são testes gerados de acordo com o nível de conhecimento do usuário. Para o fazer você deve possuir cadastro e estar logado.">
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <input type="submit" class="botao-filtrar-qst" value="Filtrar Questões" />
            </td>
        </tr>

    </table>
